@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=fallback');

@tailwind base;
@tailwind components;
@tailwind utilities;

// Additional styles
@import 'additional-styles/utility-patterns.scss';
@import 'additional-styles/range-slider.scss';
@import 'additional-styles/toggle-switch.scss';
@import 'additional-styles/flatpickr.scss';
@import 'additional-styles/theme.scss';

:root {
  --primary-color: #125c13;
  --text-dark: #808080;
  --amplify-fonts-default-variable: Inter;
}

#amplify-container {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

body {
  overflow-x: hidden;
  font-family: Inter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-dark);
}

.custom {
  .navbar {
    background-color: var(--primary-color);
    color: #e5e7eb;

    &__title {
      color: #e5e7eb;
    }

    &__hover:hover {
      color: #9ca3af;
    }
  }
}

.main-content {
  max-width: 100vw;
}

@media (min-width: 768px) {
  .sidebar {
    max-height: calc(100vh - 85px);
    min-width: 10rem;
  }

  .main-content {
    max-width: calc(100vw - (12rem + 1.5rem));
  }
}

.form-input-with-icon-left {
  padding-left: 32px;
}

.amplify-tabs-item {
  display: none !important;
}
